[Unit]
Description=Snell Proxy Service
After=network.target

[Service]
Type=simple
User=tun
Group=tun
LimitNOFILE=32768
ExecStart=/usr/local/bin/snell-server -c /etc/snell-server.conf
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=snell-server

[Install]
WantedBy=multi-user.target
